.container{
    background-color: hwb(101 50% 0%);
    border: 5px solid rgba(16, 195, 240, 0.863);
    text-align: center; 
}

.li_items{
    text-align: center; 
}
.style_li{
    /* border: 2px solid black; */
    /* text-align: center; */
    margin-left: 450px;
    margin-right: 550px; 
    padding-right:40px;

}
.header{
color: lightsalmon;
border: 10px solid gray;
text-align: center;
border-inline-start-color: rgb(153, 214, 96);
border-inline-end-color: rgb(6, 15, 136);

}
.delete{
    margin: 5px;
    background-color: rgb(227, 119, 236);
}
.edt{
    margin: 2px;
    background-color: rgb(252, 95, 74);
}